*.js linguist-language=java
*.css linguist-language=java 
*.html linguist-language=java
*.sql linguist-language=java
*.sh linguist-language=java
*.md linguist-language=java
*.war linguist-language=java